body, html {
    font-family: Arial, Helvetica, sans-serif
}

#header {
    color: white;
    background: black;
    padding: 5px;
}

h2 {
    font-size: 24px;
}

#search-area {
    background-color: lightgray;
}

#search-button {
    background-color: blue;
    color: white;
}

#current-conditions {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
}

#five-day-forecast{
    background-color: blue;
    color: white; 
}

.city-btn{
    margin-bottom: 3px;
    background-color: blue;
    color: white;
    padding: 5px 5px 5px 5px;
}

